@import '~bootstrap/scss/bootstrap';

.app {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  &__img {
    max-width: 300px;
    height: auto;
    flex-basis: 50%;
  }

  &__body {
    flex-basis: 50%;
  }
}

