@import '~bootstrap/scss/bootstrap';

.app {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  &__notice {
    font-size: 20px;
    margin: 40px auto 40px;
    text-align: center;
  }
}
.list {
  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  &__wrapper {
    height: 230px;
    margin-right: 20px;
    width: 300px;
  }

  &__img {
    flex-basis: 50%;
    height: auto;
    max-width: 300px;
  }

  &__body {
    flex-basis: 50%;
  }
}
